# In both Esy and Nix we're using a patched version of 0.20.1
# but ocamlformat's version check won't work for both of them simultaneously.
# version = 0.20.1

version=0.20.1
wrap-fun-args=false
let-binding-spacing=compact
field-space=loose
break-separators=after
space-around-arrays=false
space-around-lists=false
space-around-records=false
space-around-variants=false
dock-collection-brackets=true
space-around-records=false
sequence-style=separator
doc-comments=before
margin=80
module-item-spacing=sparse
parens-tuple=always
if-then-else = fit-or-vertical
let-and = sparse
type-decl = sparse
break-before-in = auto
break-infix = fit-or-vertical
break-cases = all
cases-exp-indent = 2
exp-grouping = preserve
nested-match = align
leading-nested-match-parens = false
align-constructors-decl = true
align-variants-decl = true
sequence-blank-line=preserve-one