/_build/
*~
*.merlin
cache/*
/result
/result-*
/_opam/
/*.pp.ligo
/*.pp.mligo
/*.pp.religo
**/.DS_Store
.vscode/
/ligo.install
/ligo-types.install
*.coverage
/_coverage/
/_coverage_*/
.history
/to-dos.html
node_modules/*
_esy/*
