/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7477bb;
  --ifm-color-primary-dark: #686ba8;
  --ifm-color-primary-darker: #5d5f96;
  --ifm-color-primary-darkest: #515383;
  --ifm-color-primary-light: #8285c2;
  --ifm-color-primary-lighter: #9092c9;
  --ifm-color-primary-lightest: #9ea0cf;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #7477bb;
  --ifm-color-primary-dark: #686ba8;
  --ifm-color-primary-darker: #5d5f96;
  --ifm-color-primary-darkest: #515383;
  --ifm-color-primary-light: #8285c2;
  --ifm-color-primary-lighter: #9092c9;
  --ifm-color-primary-lightest: #9ea0cf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
