#app {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#menu {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

#inner {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#not-connected {
  color: white;
  font-size: 1.8rem;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  color: #fff;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  row-gap: 8px;
  column-gap: 8px;

  font-size: 2rem;
}

#opponent {
  margin-top: 12px;
  color: white;
  font-size: 1.1rem;
}

#info {
  margin-bottom: 12px;
  color: white;
  font-size: 1.2rem;
}

/* rgb(116, 119, 187) */
/* rgba(114, 116, 185, 67) */
.cell {
  border: 6px solid transparent;
  background-color: rgb(116, 119, 187);
  border-radius: 8px;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

#connect {
  font-size: 1.2rem;
  border-radius: 12px;
  cursor: pointer;
  background-color: rgb(116, 119, 187);
  color: #f1f1f1;
  font-weight: bold;
  z-index: 1000;
  height: 48px;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Tooltip container */
.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  position: absolute;
  top: 24px;
  font-size: 1rem;
  opacity: 0;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  transition: opacity 0.1s;
  transform: translateY(100%);
  padding-left: 16px;
  padding-right: 16px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
}

#url {
  color: black;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 48px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}