.App {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  height: 3rem;
  width: 9rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 42px;
}

#game {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  color: #fff;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  row-gap: 8px;
  column-gap: 8px;

  font-size: 2rem;
}

/* rgb(116, 119, 187) */
/* rgba(114, 116, 185, 67) */
.cell {
  border: 6px solid transparent;
  background-color: rgb(116, 119, 187);
  border-radius: 8px;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

#connect-wallet {
  position: absolute;
  right: 0;
  top: 0;
  margin: 24px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  background-color: rgb(116, 119, 187);
  color: #f1f1f1;
  font-weight: bold;
  display: flex;
  justify-content: center;
  z-index:1000;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  transition: opacity 0.1s;
  transform: translateY(100%);
  margin: 8px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
}