# npm node_modules and results of building the VSCode extension
/vscode-plugin/bin/
/vscode-plugin/client/out/
/vscode-plugin/ligo-vscode-*.vsix
/vscode-plugin/node_modules/

# stack build directory
/squirrel/.stack-work/

# nix build results
result
result-*
