LIGO Changelog

{{#changelog}}
*** {{{version}}} ***

{{#changes}}
{{type}}: {{{title}}} (!{{merge_request}} by {{{author}}})
{{/changes}}
{{^changes}}
No changes for this version
{{/changes}}

{{/changelog}}
